#app {
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 768px;
  margin: 0 auto;
}
.container > .panel {
  flex-grow: 1;
}
#history {
  width: 200px;
  margin-left: 60px;
}
.historyItem {
  padding: 4px;
  cursor: pointer;
}
.historyItem:hover {
  background: #f0f0f0;
}
#path-navigation-buttons {
  margin-bottom: 20px;
}

.button-group button {
  margin-left: 8px;
}
.button-group button:first-child {
  margin-left: 0;
}
.path { 
  display: flex;
  border-top: 1px solid #d0d0d0;
  padding-top: 20px; 
  margin-bottom: 20px;
}
.path input { flex-grow: 1; margin-right: 20px;}
.path .button-group { margin: 6px 0; }

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  #history { 
    width: 100%;
    margin-left: 0;
  }
}